 .maps-info
        {
            position:absolute;

            width:265px;
            height:145px;
            border:1px solid #333333;
            background-color:#333333;  
                      
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
                       
            -webkit-box-shadow: #B3B3B3 3px 3px 3px;
            -moz-box-shadow: #B3B3B3 3px 3px 3px; 
            box-shadow: #B3B3B3 3px 3px 3px;
        } 
        .maps-info:after {
	        top: 100%;
	        left: 75px;
	        border: solid transparent;
	        content: " ";
	        height: 0;
	        width: 0;
	        position: absolute;
	        pointer-events: none;
	        border-color: rgba(51, 51, 51, 0);
	        border-top-color: #333333;
	        border-width: 20px;
	        margin-left: -20px;
        }
        
        .maps-info-flickr
        {

        }

        .maps-info-title
        {
            position:relative;
            height:20px;
            color:#ffffff;
        }



        .maps-info-flickr .maps-info-logo {
            background-image: url('../images/Flickr.png');
            height:40px;
            width:52px;
            position:absolute;
            top:-10px;
            left:20px;
        }

        .maps-info-flickr .maps-info-title-text
        {
            position:absolute;
            top:0px;
            left:75px;
            width:150px;
            overflow:hidden;
            font-size:12px;
            padding-top:2px;
        }

        .maps-info-body
        {
            position:relative;
            background-color: #ffffff;
            height:110px;
        }

        .maps-info-body img
        {
            position: absolute;
            top: 10px;
            left: 15px;
            max-width:80px;
            max-height:80px;
        }

        .maps-info-body .maps-info-attr
        {
            position:absolute;
            top:93px;
            left:4px;
            font-size:10px;
            width:130px;
            text-align:left;
            overflow:hidden;
        }
        .maps-info-body .maps-info-attr b
        {
            font-size:8px;
            font-weight:bolder;
        }
        .maps-info-desc
        {
            position:absolute;
            top:5px;
            left:110px;
            width:153px;
            height:88px;
            overflow:auto;
            overflow-x:hidden;
            overflow-y:scroll;
            font-size:12px;
            
        }

        .maps-info-footer
        {
            position:relative;
            padding-left:5px;
            color:#ffffff;
            font-size:10px;
        }

        .maps-info-buttons
        {
            position:absolute;
            top:-5px;
            left: 128px;
        }

        .maps-info-buttons>div
        {
            width:24px;
            height:24px;
            background-color:#333333;  
            font-size:14px;
            padding-top:1px;
            text-align:center;
            float:left;
            margin-left:6px;
            border:2px solid #333333;
            cursor:pointer;
                      
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
                       
            -webkit-box-shadow: rgba(0,0,0,0.7) 1px 1px 3px;
            -moz-box-shadow: rgba(0,0,0,0.7) 1px 1px 3px;
            box-shadow: rgba(0,0,0,0.7) 1px 1px 3px;
        }
        .maps-info-buttons>div:hover,
        .maps-info-buttons>div:active
        {
            background-color:#ffffff;
            color:#333333;
        }

        div.maps-info-close
        {
            margin-left:15px;
        }

        .modal {
            background-color: rgba(0,0,0,.75);
            overflow: hidden;
        }

        .modal-content {
            background-color: rgba(0,0,0,.1);
            color: #ffffff;
            overflow: hidden;
        }

        .js-fullscreen {
            position: absolute;
            top: 0px;
            left: 0px;
            margin: 0px;
            overflow: hidden;
        }

        .maps-details-body {
            width: 100%;
            margin-top: 30px;
        }

        .maps-details-leftpane {
            padding-left: 10px;
            text-align: center;
            width: 60%;
            height: 100%;
            float: left;
            overflow: hidden;
        }

        .maps-details-img {
            max-width: 100%;
            max-height: 100%;
            vertical-align:middle;
        }

        .maps-details-rightpane {
            float: right;
            width: 38%;
            height: 100%;
            overflow: hidden;
        }

        .maps-details-desc {
            height: 100%;
            color: #ffffff;
            overflow: auto;
            overflow-x: hidden;
            overflow-y: scroll;
            padding-right: 20px;
            font-size:12pt;
        }



        .maps-details-footer {
            background-color: rgba(0,0,0,.9);
            width: 100%;
            margin-top: 10px;
        }

        .maps-details-buttons {
            font-size: 18px;
            float: right;
        }
            .maps-details-buttons div {
                margin-right: 15px;
                margin-top: 5px;
                margin-bottom: 5px;
                padding: 5px;
                float: left;
                color:#cccccc;
                cursor:pointer;
            }
            .maps-details-buttons div:hover,
            .maps-details-buttons div:active
             {
                color:#ffffff;
            }

       .maps-details-nav {
            font-size: 18px;
            float: left;
        }
            .maps-details-nav div {
                margin-left: 15px;
                margin-top: 5px;
                padding: 5px;
                float: left;
                color:#cccccc;
                cursor:pointer;
            }
            .maps-details-nav div:hover,
            .maps-details-nav div:active
             {
                color:#ffffff;
            }

        .maps-details-footer-text{
            display:block;
            float:left;
            padding-left:10px;
            padding-top:12px;
        }



        .maps-details .maps-details-badge{
            position:absolute;
            top:0px;
            left:0px;
            width:137px;
            height:95px;
        }

        .maps-details-flickr .maps-details-badge{
            background-image: url('../images/FlickrCorner.png');
        }
        
        .small-caps
        {
            text-transform: uppercase;
            font-size: 95%;
            font-weight:bolder;
        }

.map-info
{

} 

.map-info-flickr
{

}

.map-info-header
{

}

.map-info-thumbnail
{
    float:left;
}


.map-info-text
{
    padding-left:20px;
    width:250px;
    height:200px;
    overflow-y:auto;
}





/* -----------------------------------------
   Icons/Fonts
----------------------------------------- */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

@font-face {
  font-family: 'nic4outdoors-icons';
  src: url('fonts/nic4outdoors-icons.eot?18319730');
  src: url('fonts/nic4outdoors-icons.eot?18319730#iefix') format('embedded-opentype'),
       url('fonts/nic4outdoors-icons.woff?18319730') format('woff'),
       url('fonts/nic4outdoors-icons.ttf?18319730') format('truetype'),
       url('fonts/nic4outdoors-icons.svg?18319730#nic4outdoors-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "nic4outdoors-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-flickr:before { content: '\e803'; } /* '' */
.icon-youtube:before { content: '\e804'; } /* '' */
.icon-vimeo:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-resize-full:before { content: '\e807'; } /* '' */
.icon-resize-full-alt:before { content: '\e808'; } /* '' */
.icon-instagram:before { content: '\e809'; } /* '' */
.icon-export:before { content: '\e80a'; } /* '' */
.icon-export-alt:before { content: '\e80b'; } /* '' */
.icon-right-dir:before { content: '\e80c'; } /* '' */
.icon-left-dir:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\e80e'; } /* '' */
.icon-left-open:before { content: '\e80f'; } /* '' */
.icon-heart:before { content: '\e810'; } /* '' */
.icon-heart-empty:before { content: '\e811'; } /* '' */
.icon-picture:before { content: '\e812'; } /* '' */
.icon-filter:before { content: '\e813'; } /* '' */
.icon-yelp:before { content: '\e814'; } /* '' */


/* -----------------------------------------
   General
----------------------------------------- */
body { padding-bottom: 30px; }
body > .row { margin-top: 20px; }
body, h1, h2, h3, h4, h5 { font-family: 'Open Sans', sans-serif; letter-spacing: -0.05em; }

a { color: #52A540; }
a:hover { color: black; text-decoration: underline; }

.block-list, .block-list li, #tags, #tags li { margin: 0; padding: 0; list-style: none; }
.text-right { text-align: right; }

header#header, .maps-details-footer { background: #333; margin-bottom: 10px; border-bottom: 6px #52A540 solid; padding-top: 0px; }
header#header .logo { max-height: 25px; margin: 15px 0; }
header#header h1 { font-size: 1.25rem; color: #ddd; text-transform: uppercase; }
header#header h1 small { font-size: 1.25rem; color: #eee; text-transform: capitalize; }


/* -----------------------------------------
   Map
----------------------------------------- */
#map-canvas { width: 100%; height: 600px; margin: 0 0 20px; }
#map-canvas img { max-width : none; }
.maps-details-body { margin-top: 85px; }
.maps-details-footer { position: absolute; top: 0; width: 100%; margin-top: 0; height: 61px; }
.maps-details-desc { color: black; }
.maps-details-buttons div { margin-top: 8px; }

.maps-info-title .icon-left-dir
{
    height:20px;
    width:20px;
    position:absolute;
    top:0px;
    left:0px;
    padding-top:2px;
    padding-left:1px;
    cursor:pointer;
}

.maps-info-title .icon-right-dir
{
    height:20px;
    width:20px;
    position:absolute;
    top:0px;
    left:244px;
    padding-top:2px;
    padding-right:3px;
    cursor:pointer;
}

h2 { font-size: 1.5rem; line-height: 2rem; color: #52A540; }
.filters p { font-size: 0.875rem; line-height: 1rem; margin-top: 20px; }
.filters li { margin-bottom: 2px;}
.filters a[class*=icon] { padding: 5px; border-radius: 5px; background: white; color: black; display: inline-block; width: 100%; letter-spacing: -0.025em;  }
.filters a[class*=icon]:before, .info-box [class*=icon]:before { font-size: 130%; margin-right: 10px; }
.filters a[class*=icon].active { background: #ddd; }
.filters a:hover { text-decoration: none; }

.filters a.icon-facebook.active:before, .title.icon-facebook:before { color: #3b5998; }
.filters a.icon-instagram.active:before, .title.icon-instagram:before { color: #517fa4; }
.filters a.icon-twitter.active:before, .title.icon-twitter:before { color: #00aced; }
.filters a.icon-flickr.active:before, .title.icon-flickr:before { color: #ff0084; }
.filters a.icon-vimeo.active:before, .title.icon-vimeo:before { color: #aad450; }
.filters a.icon-yelp.active:before, .title.icon-yelp:before { color: #C93C27; }
.filters a.icon-picture.active:before, .title.icon-picture:before { color: #52A540; }
.filters a.icon-heart.active:before, .title.icon-heart:before { color: red; }

#tags { max-height: 550px; overflow: auto; }
#tags li { font-size: 0.75rem; background: #eee; border-radius: 5px; display: inline-block; padding: 3px 5px; margin: 0 5px 5px 0; word-break: break-all; }
#tags li:hover { background: #ddd; cursor: pointer; }
#tags li.active { background: #52A540; color: white; }
#tags .count { font-weight: bold; margin-left: 3px; }

.filters li a:hover { background: #ddd; }


body.modal-active { overflow: hidden; }
.reveal-modal { top: 0 !important; left: 0; margin: 0; width: 100%; max-width: 100%; height: 100%; background: none; box-shadow: none;
  border: 0; position: fixed; color: black; }
.reveal-modal-bg { background: white !important; opacity: 1 !important; }



.info-box { background: white; width: 250px; min-height: 150px; position: absolute; border-radius: 5px;
    /*left: 250px; top: 150px;*/
}
.info-box:after { content: ''; position: absolute; border-style: solid; border-width: 10px 10px 0; border-color: #FFFFFF transparent; display: block; width: 0; z-index: 1; bottom: -10px; left: 66px; }
.info-box .icon-cancel { position: absolute; top: 8px; right: 0; font-size: 0.625rem; }
.info-box .row { margin: 0 10px; }
.info-box img { max-width: 100% !important; width: auto; height: auto; }
.info-box .inline-list { margin: 0; line-height: 1rem; }
.info-box .inline-list > li { margin-right: 0; margin-left: 10px; float: none; display: inline-block; }
.info-box .title { display: inline-block; padding: 6px; font-size: 0.75rem; max-width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.info-box .title[class*=icon]:before { margin: 0 5px 0 0; }
.info-box .description { font-size: 0.75rem; line-height: 0.875rem; max-height: 85px; overflow: auto; }
.info-box small { font-size: 0.675rem; }
.info-box .footer { font-size: 0.675rem; margin-bottom: 5px; border-top: 1px #ccc solid; padding-top: 3px; }
.info-box .footer [class*=icon]:before { font-size: 80%; margin: 0; }
.info-box [class*=icon]:hover { color: #52A540; cursor: pointer; }

.info-box .next, .info-box .prev { cursor: pointer; position: absolute; top: 50%; margin-top: -10px; background: #333; border-radius: 20px; padding: 3px; font-size: 0.675rem; height: 20px; width: 20px; z-index: 1000; }
.info-box .prev { left: -10px; }
.info-box .next { right: -10px; }
.info-box .next:before, .info-box .prev:before { margin: 0; color: white; }
.info-box .next:hover, .info-box .prev:hover { background: #52A540; }


#detailbox .title { font-size: 1.5rem; text-align: left; }
#detailbox .title:before { margin-left: 0; }


